<h1>接口信息</h1>
请求：<code>http://www.waitergame.top/index.php/cloud/atlas/{package}/{channel}</code><br/>
说明：package为包名，必填；channel为渠道，必填<br/>
例子：http://www.waitergame.top/index.php/cloud/atlas/xxx/googleplay<br/>
返回:
<pre class="pre-scrollable">
// 正常则返回一下数据，错误是可能返回空json，即 {}
{
  id: "1",
  package: "com.monkeystudio.spacewar",
  desc: "空间战争啊，就是空间战争...",
  imageHorizontal: "http://game.xiaomi.com/hy/image/2048.jpg?v=1.1",
  imageVertical: "http://game.xiaomi.com/hy/image/2048.jpg?v=1.1",
  appName: "空间战争",
  icon: "http://file.market.xiaomi.com/thumbnail/jpeg/w136/AppStore/0c1aff53fb6bd46811f377a02c648a0c2e5c7f24d",
  type: "策略",
  priority: "12",
  download: "https://play.google.com/store/apps/details?id=com.monkeystudio.spacewar",
  channel: "googleplay",
  updated: "1454813708",
  created: "1454737074"
}
    </pre>